.gradle/
build/
local.properties
*.iml
.idea/

# Android
captures/
.externalNativeBuild/
.cxx/

# Kotlin
*.class
.kotlin/
out/

# Signing keys and generated APK outputs
*.jks
*.keystore
*pwd*.txt
app/release/
